/*### Animation mixins ###*/
@-moz-keyframes mk-anim-default {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mk-anim-default {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk-anim-default {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk-anim-sleek {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mk-anim-sleek {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk-anim-sleek {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk-anim-motion {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mk-anim-motion {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk-anim-motion {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk-anim-motion-2 {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mk-anim-motion-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk-anim-motion-2 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk-anim-motion-3 {
  0% {
    -moz-transform: rotate(0deg) scale(0.3);
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0.3);
    transform: rotate(360deg) scale(0.3);
  }
}
@-webkit-keyframes mk-anim-motion-3 {
  0% {
    -webkit-transform: rotate(0deg) scale(0.3);
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.3);
    transform: rotate(360deg) scale(0.3);
  }
}
@keyframes mk-anim-motion-3 {
  0% {
    -moz-transform: rotate(0deg) scale(0.3);
    -ms-transform: rotate(0deg) scale(0.3);
    -webkit-transform: rotate(0deg) scale(0.3);
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1);
    -ms-transform: rotate(180deg) scale(1);
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0.3);
    -ms-transform: rotate(360deg) scale(0.3);
    -webkit-transform: rotate(360deg) scale(0.3);
    transform: rotate(360deg) scale(0.3);
  }
}
.panel-box {
  border-radius: 0;
  border: 0;
  position: relative;
}
.panel-box .panel-body {
  min-height: 180px;
  text-align: center;
  padding: 20% 0;
}

.mk-spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: auto;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.mk-spinner.mk-fixed {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.mk-spinner:before, .mk-spinner:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #23BF77;
  border-left-color: transparent;
  border-right-color: transparent;
  /*@include animation(mk-anim-default 1250ms infinite linear reverse);*/
}
.mk-spinner:after {
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-color: #FFB40A;
  border-top-color: transparent;
  border-bottom-color: transparent;
  /*@include animation(mk-anim-default  2s infinite linear);*/
}
.mk-spinner.spinner-2, .mk-spinner.spinner-3, .mk-spinner.spinner-5, .mk-spinner.spinner-6 {
  border: 2px solid transparent;
  border-right-color: #333;
  border-bottom-color: #333;
}
.mk-spinner.spinner-2:before, .mk-spinner.spinner-3:before, .mk-spinner.spinner-5:before, .mk-spinner.spinner-6:before {
  border-color: transparent;
  border-right-color: #23BF77;
  border-bottom-color: #23BF77;
}
.mk-spinner.spinner-2:after, .mk-spinner.spinner-3:after, .mk-spinner.spinner-5:after, .mk-spinner.spinner-6:after {
  border-color: transparent;
  border-right-color: #FFB40A;
  border-bottom-color: #FFB40A;
  width: 28px;
  height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}
.mk-spinner.spinner-3:before {
  border-color: #23BF77;
}
.mk-spinner.spinner-4 {
  width: 2px;
  background: #23BF77;
  border-radius: 0;
  margin-left: -1px;
}
.mk-spinner.spinner-4:before {
  border-color: #23BF77;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: 0;
  top: 100%;
}
.mk-spinner.spinner-4:after {
  border-color: #23BF77;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  bottom: 100%;
  top: auto;
}
.mk-spinner.spinner-5, .mk-spinner.spinner-6 {
  border-color: #484848;
  border-style: dashed;
}
.mk-spinner.spinner-5:before, .mk-spinner.spinner-6:before {
  border-color: transparent;
  background: transparent;
}
.mk-spinner.spinner-5:after, .mk-spinner.spinner-6:after {
  /*border-color: transparent;
  background: #2196F3;*/
  border-color: #B3B3B3 #A2A2A2 #808080 #717171;
  background: transparent;
  border-width: 1em;
}
.mk-spinner.spinner-6 {
  border-color: #9DC9EC;
}
.mk-spinner.spinner-6:after {
  border-color: #2196F3;
  background: transparent;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: 0;
  padding: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.mk-spinner.spin-1:before {
  -moz-animation: mk-anim-default 1250ms infinite linear reverse;
  -webkit-animation: mk-anim-default 1250ms infinite linear reverse;
  animation: mk-anim-default 1250ms infinite linear reverse;
}
.mk-spinner.spin-1:after {
  -moz-animation: mk-anim-default 2s infinite linear;
  -webkit-animation: mk-anim-default 2s infinite linear;
  animation: mk-anim-default 2s infinite linear;
}
.mk-spinner.spin-2:before {
  -moz-animation: mk-anim-sleek 1250ms infinite linear reverse;
  -webkit-animation: mk-anim-sleek 1250ms infinite linear reverse;
  animation: mk-anim-sleek 1250ms infinite linear reverse;
}
.mk-spinner.spin-2:after {
  -moz-animation: mk-anim-sleek 1250ms infinite linear;
  -webkit-animation: mk-anim-sleek 1250ms infinite linear;
  animation: mk-anim-sleek 1250ms infinite linear;
}
.mk-spinner.spin-3:before {
  -moz-animation: mk-anim-sleek 1250ms infinite linear;
  -webkit-animation: mk-anim-sleek 1250ms infinite linear;
  animation: mk-anim-sleek 1250ms infinite linear;
}
.mk-spinner.spin-3:after {
  -moz-animation: mk-anim-sleek 1250ms infinite linear;
  -webkit-animation: mk-anim-sleek 1250ms infinite linear;
  animation: mk-anim-sleek 1250ms infinite linear;
}
.mk-spinner.spin-4 {
  -moz-animation: mk-anim-default 1200ms infinite linear reverse;
  -webkit-animation: mk-anim-default 1200ms infinite linear reverse;
  animation: mk-anim-default 1200ms infinite linear reverse;
}
.mk-spinner.spin-4:before {
  -moz-animation: mk-anim-default 600ms infinite linear;
  -webkit-animation: mk-anim-default 600ms infinite linear;
  animation: mk-anim-default 600ms infinite linear;
}
.mk-spinner.spin-4:after {
  -moz-animation: mk-anim-default 1200ms infinite linear reverse;
  -webkit-animation: mk-anim-default 1200ms infinite linear reverse;
  animation: mk-anim-default 1200ms infinite linear reverse;
}
.mk-spinner.spin-5 {
  -moz-animation: mk-anim-default 1200ms infinite linear reverse;
  -webkit-animation: mk-anim-default 1200ms infinite linear reverse;
  animation: mk-anim-default 1200ms infinite linear reverse;
}
.mk-spinner.spin-5:after {
  -moz-animation: mk-anim-default 500ms infinite linear;
  -webkit-animation: mk-anim-default 500ms infinite linear;
  animation: mk-anim-default 500ms infinite linear;
}
.mk-spinner.spin-6 {
  -moz-animation: mk-anim-motion 1200ms infinite linear reverse;
  -webkit-animation: mk-anim-motion 1200ms infinite linear reverse;
  animation: mk-anim-motion 1200ms infinite linear reverse;
}
.mk-spinner.spin-7 {
  -moz-animation: mk-anim-motion-2 1200ms infinite linear;
  -webkit-animation: mk-anim-motion-2 1200ms infinite linear;
  animation: mk-anim-motion-2 1200ms infinite linear;
}
.mk-spinner.spin-8 {
  -moz-animation: mk-anim-motion-3 1200ms infinite linear reverse;
  -webkit-animation: mk-anim-motion-3 1200ms infinite linear reverse;
  animation: mk-anim-motion-3 1200ms infinite linear reverse;
}
.mk-spinner.spin-8:after {
  -moz-animation: mk-anim-motion-3 1200ms infinite linear;
  -webkit-animation: mk-anim-motion-3 1200ms infinite linear;
  animation: mk-anim-motion-3 1200ms infinite linear;
}
