$white: #ffffff;
$cyan: #82B3AE;
$pink: #F21D41;
$violet: #230F2B;
$palegreen: #BCE3C5;
$lightgrey: #dcdcdc;
$darkgrey: #151515;

$bodyBg: $cyan;
$bodyColor: $white;
$panelBg: $violet;
$panelHeadingBg: $pink;
$panelHeadingColor: $white;
$h1Color: #F21D41;
