$tooltipBg: #82B3AE;
$tooltipColor: #fff;

[tooltip]{
	&:before, &:after{
		position: absolute;
		bottom: 100%;
		visibility: hidden;
		transform: translateY(5px);
		transition: transform 0.3s ease;
	}
	&:before{
		content: "";
		left: 50%;
		margin-left: -5px;
		margin-bottom: -10px;
		border: 5px solid transparent;
		border-width: 10px 5px; 
		border-top-color: $tooltipBg;
	}
	&:after{
		content: attr(tooltip);
		right: 0;
		padding: 1em;
		margin-bottom: 10px;
		border-radius: 3px;
		background: $tooltipBg;
		line-height: 1;
		font-size: 0.8em;
		white-space: nowrap;
		color: $tooltipColor;
	}
	&:hover, &:focus{
		&:after, &:before{
			visibility: visible;
			transform: translateY(0px);
		}
	}
}