@import "compass/css3";

@keyframes slideSecondBox{
	0%, 50%, 60% { transform: translateX(0%); }
	90%, 100% { transform: translateX(-100%); }
}

@keyframes slideThirdBox{
	0% { transform: translateX(0%); }
	50%, 60% { transform: translateX(-100%); }    
	90%, 100% { transform: translateX(-200%); }
}