@import "_ripplesAnimation.scss";

.mk-spinner-ripple{
	&:before, &:after{
		@include center-position(20px);
		border-radius: 50%;
	}
	&:before{
		// INNER RIPPLE
		background: #00796B;
		@include animation(innerRipple 0.6s infinite 0.3s);
	}
	&:after{
		// OUTER RIPPLE
		background: #1DE9B6;
		z-index: 0;
		transform: scale(3);
		@include animation(outerRipple 0.6s infinite 0.3s);
	}
}