@import "../imports/mixins";
@import "../imports/common";
@import "boxesAnimation";

.mk-spinner-boxes{
	&:before, &:after, &{
		@include center-position(20px);
	}
	&{
		// SECOND BUBBLE
		background: #1DE9B6;
	}
	&:before, &:after{
		margin-left: 0;
		background: inherit;
	}
	&:before{
		// FIRST BUBBLE
		opacity: 0.5;
		left: 100%;
		animation: slideSecondBox 3s infinite 3s;
	}
	&:after{
		// LAST BUBBLE
		opacity: 0.2;
		left: 200%;
		animation: slideThirdBox 3s infinite;
	}
}
