@import "../imports/mixins";
@import "../imports/common";
@import "../animations/rotate";

.mk-spinner-pie{
	@include center-position(50px);
	background: transparent;
	border-radius: 50%;
	border: 25px solid;
	border-color: #FFCA28 #EEFF41 #00BCD4 #1DE9B6;
	animation: rotate 0.4s infinite linear;
}
