<div class="panel panel-default panel-box">
    <div class="panel-heading">
        {{spinner.name}}
        <span class="pull-right panel-actions">
			<a href="javascript:void(0)" tooltip="Copy HTML">
				<i class="fa fa-html5"></i>
			</a>
			<a href="javascript:void(0)" tooltip="Copy CSS">
				<i class="fa fa-css3"></i>
			</a>
			<a href="javascript:void(0)" tooltip="Copy complete source">
				<i class="fa fa-copy"></i>
			</a>
		</span>
    </div>
    <div class="panel-body">
        <div class="{{spinner.class}}"></div>
    </div>
</div>