/**** MIXINS ****/
/**** ANIMATIONS ****/
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**** SPINNERS ****/
.mk-spinner-ring {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid #00BCD4;
  border-left-color: transparent;
  background: transparent;
  -moz-animation: rotate 0.4s infinite linear;
  -webkit-animation: rotate 0.4s infinite linear;
  animation: rotate 0.4s infinite linear;
}

.mk-spinner-fan {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 0;
  top: 50%;
  margin-top: 0;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  border: 3px solid #cebb17;
  border-radius: 50%;
  -moz-animation: rotate 0.35s infinite linear;
  -webkit-animation: rotate 0.35s infinite linear;
  animation: rotate 0.35s infinite linear;
}

@keyframes innerRipple {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes outerRipple {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(4);
  }
}
.mk-spinner-ripple:before, .mk-spinner-ripple:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
  border-radius: 50%;
}
.mk-spinner-ripple:before {
  background: #00796B;
  -moz-animation: innerRipple 0.6s infinite 0.3s;
  -webkit-animation: innerRipple 0.6s infinite 0.3s;
  animation: innerRipple 0.6s infinite 0.3s;
}
.mk-spinner-ripple:after {
  background: #1DE9B6;
  z-index: 0;
  transform: scale(3);
  -moz-animation: outerRipple 0.6s infinite 0.3s;
  -webkit-animation: outerRipple 0.6s infinite 0.3s;
  animation: outerRipple 0.6s infinite 0.3s;
}

.mk-spinner-pie {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  background: transparent;
  border-radius: 50%;
  border: 25px solid;
  border-color: #FFCA28 #EEFF41 #00BCD4 #1DE9B6;
  -moz-animation: rotate 0.4s infinite linear;
  -webkit-animation: rotate 0.4s infinite linear;
  animation: rotate 0.4s infinite linear;
}

.mk-spinner-doublecircle {
  background: transparent;
  -moz-animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
.mk-spinner-doublecircle:after, .mk-spinner-doublecircle {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
}
.mk-spinner-doublecircle {
  border-color: #1DE9B6 rgba(0, 0, 0, 0.07) #1DE9B6 rgba(0, 0, 0, 0.07);
}
.mk-spinner-doublecircle:after {
  border-color: transparent #EEFF41 transparent #EEFF41;
  -moz-animation: rotate 6s linear infinite;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}

.mk-spinner-weight {
  -moz-animation: rotate 1s infinite ease-in;
  -webkit-animation: rotate 1s infinite ease-in;
  animation: rotate 1s infinite ease-in;
}
.mk-spinner-weight {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  background: #1DE9B6;
}
.mk-spinner-weight:before, .mk-spinner-weight:after {
  content: "";
  position: absolute;
  top: 50%;
  border: 2px solid #1DE9B6;
  border-radius: 50%;
}
.mk-spinner-weight:before {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  right: 100%;
}
.mk-spinner-weight:after {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  left: 100%;
}

@keyframes bubble {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes reverseBubble {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}
.mk-spinner-bubbles:before, .mk-spinner-bubbles:after, .mk-spinner-bubbles {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
  border-radius: 50%;
  background: inherit;
}
.mk-spinner-bubbles:before {
  left: -100%;
  -moz-animation: bubble 1s infinite;
  -webkit-animation: bubble 1s infinite;
  animation: bubble 1s infinite;
}
.mk-spinner-bubbles {
  opacity: 0.7;
  background: #1DE9B6;
}
.mk-spinner-bubbles:after {
  opacity: 0.5;
  left: 200%;
  -moz-animation: reverseBubble 1s infinite;
  -webkit-animation: reverseBubble 1s infinite;
  animation: reverseBubble 1s infinite;
}

@keyframes slideSecondBox {
  0%, 50%, 60% {
    transform: translateX(0%);
  }
  90%, 100% {
    transform: translateX(-100%);
  }
}
@keyframes slideThirdBox {
  0% {
    transform: translateX(0%);
  }
  50%, 60% {
    transform: translateX(-100%);
  }
  90%, 100% {
    transform: translateX(-200%);
  }
}
.mk-spinner-boxes:before, .mk-spinner-boxes:after, .mk-spinner-boxes {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
}
.mk-spinner-boxes {
  background: #1DE9B6;
}
.mk-spinner-boxes:before, .mk-spinner-boxes:after {
  margin-left: 0;
  background: inherit;
}
.mk-spinner-boxes:before {
  opacity: 0.5;
  left: 100%;
  -moz-animation: slideSecondBox 3s infinite 3s;
  -webkit-animation: slideSecondBox 3s infinite 3s;
  animation: slideSecondBox 3s infinite 3s;
}
.mk-spinner-boxes:after {
  opacity: 0.2;
  left: 200%;
  -moz-animation: slideThirdBox 3s infinite;
  -webkit-animation: slideThirdBox 3s infinite;
  animation: slideThirdBox 3s infinite;
}

/**** PRETTY PRE TAG ****/
pre {
  /* desert scheme ported from vim to google prettify */
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
}
pre.prettyprint {
  display: block;
  background-color: #333;
  border: 0 !important;
  border-top: 15px solid #ccc !important;
  padding: 0 !important;
  border-radius: 3px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #ffa0a0;
}
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
pre .typ {
  color: #98fb98;
}
pre .lit {
  color: #cd5c5c;
}
pre .pun {
  color: #fff;
}
pre .pln {
  color: #fff;
}
pre .tag {
  color: #f0e68c;
  color: #f21d41;
  font-weight: bold;
}
pre .atn {
  color: #bdb76b;
  color: #86f352;
  font-weight: bold;
}
pre .atv {
  color: #ffa0a0;
  color: #ffe60f;
}
pre .dec {
  color: #98fb98;
}

/* Specify class=linenums on a pre to get line numbering */
ol {
  /* IE indents via margin-left */
}
ol.linenums {
  margin: 0;
  padding-left: 50px;
  color: #AEAEAE;
  background: #2b2b2b;
}
ol.linenums li {
  list-style-type: decimal !important;
  background: #333333 !important;
  padding-left: 20px;
}
ol.linenums li:first-child {
  padding-top: 20px;
}
ol.linenums li:last-child {
  padding-bottom: 20px;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

@media print {
  pre.prettyprint {
    background-color: none;
  }

  pre .str,
  code .str {
    color: #060;
  }

  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit,
  code .lit {
    color: #044;
  }

  pre .pun,
  code .pun {
    color: #440;
  }

  pre .pln,
  code .pln {
    color: #000;
  }

  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn,
  code .atn {
    color: #404;
  }

  pre .atv,
  code .atv {
    color: #060;
  }
}
/**** COMPONENTS ****/
[tooltip]:before, [tooltip]:after {
  position: absolute;
  bottom: 100%;
  visibility: hidden;
  transform: translateY(5px);
  transition: transform 0.3s ease;
}
[tooltip]:before {
  content: "";
  left: 50%;
  margin-left: -5px;
  margin-bottom: -10px;
  border: 5px solid transparent;
  border-width: 10px 5px;
  border-top-color: #82B3AE;
}
[tooltip]:after {
  content: attr(tooltip);
  right: 0;
  padding: 1em;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #82B3AE;
  line-height: 1;
  font-size: 0.8em;
  white-space: nowrap;
  color: #fff;
}
[tooltip]:hover:after, [tooltip]:hover:before, [tooltip]:focus:after, [tooltip]:focus:before {
  visibility: visible;
  transform: translateY(0px);
}

.mk-alert {
  position: fixed;
  min-width: 150px;
  left: 10px;
  top: 0;
  margin-right: 10px;
  padding: 1rem;
  background: #F21D41;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 1;
  z-index: 1040;
  color: #fefefe;
}

body {
  background: #82B3AE;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 1.7;
  font-weight: 300;
  letter-spacing: 0.1em;
}

h1 {
  text-shadow: 2px 2px 0px rgba(102, 102, 102, 0.3);
  margin-bottom: 20px;
  letter-spacing: 0;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 46px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}
a:hover, a:focus, a {
  color: #F21D41;
}
a:hover, a:focus {
  text-decoration: none;
}

.title-section {
  position: relative;
  margin: 25px 0;
}
.title-section:before {
  content: "";
  display: block;
  background: #ffffff;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  opacity: 0.25;
}
.title-section h4 {
  margin: 0;
  display: inline-block;
  background: #82B3AE;
  padding-right: 20px;
  position: relative;
  text-transform: uppercase;
  font-size: 21px;
}

article ul {
  list-style: none;
  padding-left: 0;
}
article i {
  width: 20px;
}

pre {
  color: #333;
  background: #ccc;
}

.panel-box {
  border-radius: 0;
  border: 0;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);
  background: #230F2B;
  margin-bottom: 30px;
}
.panel-box .panel-body {
  border-radius: 0;
  height: 200px;
  text-align: center;
  position: relative;
}
.panel-box .panel-heading {
  height: 40px;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  bottom: 5px;
  z-index: 10;
  border: 0;
  border-radius: 0;
  line-height: 40px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
  background-color: #F21D41;
}
.panel-box .panel-heading .btn-copy {
  color: inherit;
  text-decoration: none;
  padding: 0 0.6em;
  float: left;
  border: 0;
  outline: 0;
  box-shadow: none;
  border-left: 1px solid;
  background: transparent;
  position: relative;
  transition: all 0.3s ease;
}
.panel-box .panel-heading .btn-copy:last-child {
  border-right: 1px solid;
}
.panel-box .panel-heading .btn-copy:hover, .panel-box .panel-heading .btn-copy:focus {
  color: #f3f3f3;
  z-index: 1;
}
