@keyframes slideSecondBox{0%,50%,60%{transform:translateX(0)}
100%,90%{transform:translateX(-100%)}
}
@keyframes slideThirdBox{0%{transform:translateX(0)}
50%,60%{transform:translateX(-100%)}
100%,90%{transform:translateX(-200%)}
}
.mk-spinner-boxes,.mk-spinner-boxes:after,.mk-spinner-boxes:before{content:"";display:inline-block;position:absolute;width:20px;height:20px;top:50%;margin-top:-10px;left:50%;margin-left:-10px;z-index:1}
.mk-spinner-boxes{background:#1DE9B6}
.mk-spinner-boxes:after,.mk-spinner-boxes:before{margin-left:0;background:inherit}
.mk-spinner-boxes:before{opacity:.5;left:100%;-moz-animation:slideSecondBox 3s infinite 3s;-webkit-animation:slideSecondBox 3s infinite 3s;animation:slideSecondBox 3s infinite 3s}
.mk-spinner-boxes:after{opacity:.2;left:200%;-moz-animation:slideThirdBox 3s infinite;-webkit-animation:slideThirdBox 3s infinite;animation:slideThirdBox 3s infinite}