@keyframes bubble{0%,100%{transform:scale(0)}
50%{transform:scale(1)}
}
@keyframes reverseBubble{0%,100%{transform:scale(1)}
50%{transform:scale(0)}
}
.mk-spinner-bubbles,.mk-spinner-bubbles:after,.mk-spinner-bubbles:before{content:"";display:inline-block;position:absolute;width:20px;height:20px;top:50%;margin-top:-10px;left:50%;margin-left:-10px;z-index:1;border-radius:50%;background:inherit}
.mk-spinner-bubbles:before{left:-100%;-moz-animation:bubble 1s infinite;-webkit-animation:bubble 1s infinite;animation:bubble 1s infinite}
.mk-spinner-bubbles{opacity:.7;background:#1DE9B6}
.mk-spinner-bubbles:after{opacity:.5;left:200%;-moz-animation:reverseBubble 1s infinite;-webkit-animation:reverseBubble 1s infinite;animation:reverseBubble 1s infinite}