@-moz-keyframes rotate{0%{-moz-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}
}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotate{0%{-moz-transform:rotate(0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.mk-spinner-pie{content:"";display:inline-block;position:absolute;width:50px;height:50px;top:50%;margin-top:-25px;left:50%;margin-left:-25px;z-index:1;background:0 0;border-radius:50%;border:25px solid;border-color:#FFCA28 #EEFF41 #00BCD4 #1DE9B6;-moz-animation:rotate .4s infinite linear;-webkit-animation:rotate .4s infinite linear;animation:rotate .4s infinite linear}