@import "compass/css3";

@keyframes innerRipple{
	0%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes outerRipple{
	0%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(3);
	}
}