@import "../imports/settings";
@import "../imports/mixins";
@import "../imports/common";
@import "../animations/rotate";

#{$spinnerSlug}-pie{
	@include center-position(50px);
	background: transparent;
	border-radius: 50%;
	border: 25px solid;
	border-color: #FFCA28 #EEFF41 #00BCD4 #1DE9B6;
	animation: rotate $animationSpeedBase infinite linear;
}
