@keyframes dotZoomout {
	0% {
		transform: translateY(0%);
	 }
	 25% {
		transform: translateY(-4px);
	 }
	 50% {
		transform: translateY(0%);
	 }
	 75% {
	 transform: translateY(4px);
	 }
	 100% {
		 transform: translateY(0%);
	 }
}
